.secondary-bg-dark {
  background-color: $secondary-dark;
}

.bg-dark.text-gray {
  color: #acb3c2;
}

.third-bg-dark {
  background-color: $third-dark;
}

.lighter-bg-dark {
  background-color: $ligter-dark;
}

.bg-green {
  background: $green;
}

.bg-red {
  background: $red;
}
