.order-book {
  height: $orderbook-height;
  overflow-y: hidden;

  .asks {
    border-bottom: 1px solid $ligter-dark-a;
  }
  .bids {
    border-top: 1px solid $ligter-dark-a;
  }
  .orderbook-row {
    margin: 0;
    .ask {
      display: table-cell;
      color: $red;
      font-size: 0.6rem;
      .bar {
        top: 1px;
        position: relative;
        background-color: $red;
      }
    }
    .bid {
      display: table-cell;
      color: $green;
      font-size: 0.6rem;
      .bar {
        top: 1px;
        position: relative;
        background-color: $green;
      }
    }
    .bar-container {
      height: 100%;
    }
  }
  .bar {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .spread {
    border-top: 2px solid $ligter-dark;
    border-bottom: 2px solid $ligter-dark;
    span {
      font-size: 11px;
      color: #FFFFFF;
    }
  }
}
.order-book:hover {
  overflow-y: overlay;
}

.float-right {
  float: right;
}

