.slider-dropdown {
  width: 30px;
  padding-right: 5px;
  .dropdown-toggle {
    height: $select-height;
  }
  .dropdown-menu {
    position: absolute;
    .slider-container {
      width: 110px;
      z-index: 1;
      background-color: $secondary-color;
      padding: 3px 12px;
      border-radius: 5px;
      position: relative;
      right: 100px;
    }
  }
}
